/************************* Body ***********************/
body {
  margin: 0;
  padding: 0;
  background-color:aquamarine;
}

/*************************  Nav  ***********************/

.nav {

}

/*************************  Main  ***********************/

.main-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width:clamp 43ch, 80%, 1500px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  background-color: bisque;
  gap: 10px;
  row-gap: 15px;
}

.main-bottom {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  width:clamp 43ch, 80%, 1500px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  gap: 10px;
  row-gap: 15px;
}

/************************* Header ***********************/
.header {
  width: 100%;
  background-color: cadetblue;
}

/*************************  Ingredients ***********************/
.ingredients {
  background-color: chartreuse;
  width: 25vh;
}


/*************************  Image ***********************/
.image {
background-color: blueviolet;
width: 50vh;
height: 50vh;
padding-left: 10px;
}

/************************* Descript ***********************/
.description {
background-color: brown;
width: 50%;
height: 75vh;
}
 
/************************* Steps ***********************/
.steps {
background-color: crimson;
width: 50%;
height: 75vh;
}